{% extends 'base.html' %}


{% block content %}
  <form method="post" autocomplete="off">
  {% if not session.username %}

    <fieldset>
    <legend>Warning</legend>

	<h3 style="color:tomato;"><small>You have not logged in to LimeSurvey or your internet connection has been lost!
        It is still possible to obtain pseudonyms, but LimeSurvey has to be updated manually!</small></h3>
    <p>   </p>

  {% endif %}

  </fieldset>
    <p>   </p>

<!--    <label for="exp_tag">Add experimental tag (optional):</label>-->

<!--    <select id="exp_tag" name="exp_tag">-->
<!--      {% for key in _exp_tag_ %}-->
<!--        <option value="{{ _exp_tag_[key] }}">{{ key }}</option>-->
<!--      {% endfor %}-->
<!--    </select>-->

<!--    <p>   </p>-->

    <label for="first_name">First name</label>
    <input name="first_name" id="first_name" required placeholder="Max/Martina">

    <label for="family_name">Family name</label>
    <input name="family_name" id="family_name" required placeholder="Mustermann">

    <label for="place_of_birth">Place of birth (without country)</label>
    <input name="place_of_birth" id="place_of_birth" required placeholder="Berlin">

    <label for="dob_d">Date of birth</label>
    <div class="input-group">
      <input name="dob_d" id="dob_d" type="number" min="1" max="31"
             required class="form-control" placeholder="dd">
      <input name="dob_m" id="dob_m" type="number" min="1" max="12"
             required class="form-control" placeholder="mm">
      <input name="dob_y" id="dob_y" type="number" min="1900" max="2019"
             required class="form-control" placeholder="yyyy">
    </div>

    <label for="maiden_name">Mothers maiden name (Surname only)</label>
    <input name="maiden_name" id="maiden_name" required placeholder="Müller">

    <input type="submit" value="Generate">
  </form>
{% endblock %}