{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Pseudonym{% endblock %}</h1>
{% endblock %}


{% block content %}
  <form method="post">
    <div class="form-field">
    <p><b>Has this participant already been registered (via an initial registration)?</b></p>
     <input type="radio" style="vertical-align: left; margin: 0px;" id="reg_t" name="registered" value='registered' required>
     <label for="reg_t"> <small>YES </small> </label>
     <input type="radio" style="vertical-align: left; margin: 0px;" id="reg_f" name="registered" value='not_registered' required>
     <label for="reg_f"> <small> NO </small> </label>
    </div>

    <p>   </p>

    <label for="exp_tag">Add experimental tag (optional):</label>

    <select id="exp_tag" name="exp_tag">
      <option value=""> </option>
      <option value="-pre">Pre</option>
      <option value="-post">Post</option>
      <option value="-w1">Week 1</option>
      <option value="-w2">Week 2</option>
      <option value="-w3">Week 3</option>
      <option value="-w4">Week 4</option>
      <option value="-w5">Week 4</option>
      <option value="-w6">Week 4</option>
    </select>


    <p>   </p>

    <label for="first_name">First name</label>
    <input name="first_name" id="first_name" required placeholder="Max/Martina">

    <label for="family_name">Family name</label>
    <input name="family_name" id="family_name" required placeholder="Mustermann">

    <label for="place_of_birth">Place of birth (without country)</label>
    <input name="place_of_birth" id="place_of_birth" required placeholder="Berlin">

    <label for="dob_d">Date of birth</label>
    <div class="input-group">
      <input name="dob_d" id="dob_d" type="number" min="1" max="31"
             required class="form-control" placeholder="dd">
      <input name="dob_m" id="dob_m" type="number" min="1" max="12"
             required class="form-control" placeholder="mm">
      <input name="dob_y" id="dob_y" type="number" min="1900" max="2019"
             required class="form-control" placeholder="yyyy">
    </div>

    <label for="maiden_name">Mothers maiden name (Surname only)</label>
    <input name="maiden_name" id="maiden_name" required placeholder="Müller">

    <input type="submit" value="Generate">
  </form>
{% endblock %}