{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log in to LimeSurvey{% endblock %}</h1>
{% endblock %}


{% block content %}
  <form method="post" autocomplete="off">
    <fieldset>
    <legend>Info</legend>

	<h3 style="color:Tomato;"><small>It is possible to proceed without logging in by clicking "New PseudoID" in the menu bar.
      Note that in this case the participant will NOT be automatically registered in LimeSurvey.
      Registration has to be done manually.</small></h3>

  </fieldset>

    <p>   </p>

    <label for="username">Username</label>
    <input name="username" id="username" required placeholder="mmustermann">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required placeholder="">

    <input type="submit" value="Log in!">
  </form>
{% endblock %}