{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Preview{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

<style>
fieldset { background-color: #eeeeee; }
legend {  background-color: grey;  color: white;  padding: 5px 10px; }
input {  margin: 5px; }
h3 {  word-break: normal;  width: 880px; }
h4 {  word-break: break-all; width: 880px; }
</style>

  {% if duplicate_warning %}
  <fieldset>
    <legend>Warning</legend>
	<h3 style="color:tomato;"><small>Short ID (but not longID) already registered in LimeSurvey!
                           If all details are correct, proceed as usual but CONTACT THE DEVELOPERS!</small></h3>
  </fieldset>
  {% endif %}

  {% if not session.username %}
      <fieldset>
    <legend>Warning</legend>
	<h3 style="color:tomato;"><small>You have not logged in to LimeSurvey or you internet connection has been lost!
        It is still possible to obtain pseudonyms, but LimeSurvey has to be updated manually!</small></h3>
  </fieldset>
      <p>   </p>
  {% endif %}


  <fieldset>
    <legend>Personal Info</legend>

	<p><small>Name</small></p>
    <h3>{{subject['first_name']}} {{subject['family_name']}}</h3>

    <p><small>Place & date of birth</small></p>
    <h3>{{subject['place_of_birth']}} {{subject['date_of_birth']}}</h3>

    <p><small>Mothers maiden name</small></p>
    <h3>{{subject['maiden_name']}}</h3>

  </fieldset>

  <p>   </p>

    {% if session.username %}
   <fieldset  {% if show_pseudonym %} disabled {% endif %}>
      <label for="to_survey">Add to survey(s) (optional):</label>

       <p>   </p>

      {% for key in survey_added %}
        <input type="checkbox" id="{{ survey_added[key] }}" name="checkbox_survey_added" value="{{ key }}" checked disabled>
        <label for="{{ survey_added[key] }}">{{ survey_added[key] }} (participant already added to this survey)</label><br>
        {% if show_pseudonym %} <a href={{ls_links[key]}} target="_blank">Open Survey</a><br> {% endif %}
      {% endfor %}

      {% for key in survey_not_added %}
        <input type="checkbox" id="{{ survey_not_added[key] }}" name="checkbox_survey_not_added" value="{{ key }}">
        <label for="{{ survey_not_added[key] }}">{{ survey_not_added[key] }}</label><br>
      {% endfor %}

    <p>   </p>

    {% if show_pseudonym %}
      <legend>Info</legend>
	  <h3><small>Participant successfully added to the following surveys: {{newly_added}}</small></h3>
    </fieldset>
       {% endif %}
    {% endif %}


  {% if not show_pseudonym %}
   <fieldset>
       <legend>Are all details correct?</legend>
    <input type="submit" name="proceed" value="No! Undo Transaction.">
    <input type="submit" name="proceed" value="Yes! Proceed to the pseudonym.">
   </fieldset>
      <p>   </p>
  {% endif %}



  {% if show_pseudonym %}
  <fieldset>
    <legend>PseudoID</legend>

	<p><small>Short ID</small></p>
    <h3>{{ids['short_id']}}{{ids['exp_tag']}}</h3>

    <p><small>Long ID</small></p>
    <h4>{{ids['long_id']}}</h4>

    <p><small>Barcodes</small></p>

    {% for bc in items %}
      <a href=file://{{bc}} target="_blank">file://{{bc}}</a>
    {% endfor %}

  </fieldset>

  <p>   </p>


  <fieldset>
      <input type="submit" name="proceed" value="New participant">
      <input type="submit" name="proceed" value="Exit PseudoID">
  </fieldset>

  <p>   </p>
 {% endif %}

  </form>
{% endblock %}

