{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Preview{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

<style>
fieldset { background-color: #eeeeee; }
legend {  background-color: grey;  color: white;  padding: 5px 10px; }
input {  margin: 5px; }
h3 {  word-break: normal;  width: 880px; }
h4 {  word-break: break-all; width: 880px; }
</style>


  <fieldset>
    <legend>Error Checking</legend>
	<h3 style="color:{{warning_color}};"><small>{{warning_text}}</small></h3>
  </fieldset>

      <p>   </p>


  <fieldset>
    <legend>Personal Info</legend>

	<p><small>Name</small></p>
    <h3>{{first_name}} {{family_name}}</h3>

    <p><small>Place & date of birth</small></p>
    <h3>{{place_of_birth}} {{date_of_birth}}</h3>

    <p><small>Mothers maiden name</small></p>
    <h3>{{maiden_name}}</h3>

  </fieldset>

  <p>   </p>


  {% if not show_pseudonym %}
   <fieldset>
       <legend>Are all details correct?</legend>
    <input type="submit" name="proceed" value="No! Undo Transaction.">
    <input type="submit" name="proceed" value="Yes! Proceed to the pseudonym.">
   </fieldset>
  {% endif %}

      <p>   </p>

  {% if show_pseudonym %}
  <fieldset>
    <legend>PseudoID</legend>

	<p><small>Short ID</small></p>
    <h3>{{short_id}}{{exp_tag}}</h3>

    <p><small>Long ID</small></p>
    <h4>{{long_id}}</h4>

    <p><small>Barcodes</small></p>

    {% for bc in items %}
      <a href=file://{{bc}} target="_blank">file://{{bc}}</a>
    {% endfor %}

  </fieldset>

  <fieldset>
      <input type="submit" name="proceed" value="Undo Transaction">
      <input type="submit" name="proceed" value="New participant">
      <input type="submit" name="proceed" value="Exit PseudoID">
  </fieldset>

  <p>   </p>
 {% endif %}

  </form>
{% endblock %}

