{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Preview{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

<style>
fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: grey;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}
h3 {
  word-break: break-all;
  width: 800px;
}
</style>
    <fieldset>
    <legend>Error Checking</legend>

	<h3 style="color:{{warning_color}};"><small>{{warning_text}}</small></h3>

  </fieldset>

      <p>   </p>


  <fieldset>
    <legend>Personal Info</legend>

	<p><small>Name</small></p>
    <h3>{{first_name}} {{family_name}}</h3>

    <p><small>Place & date of birth</small></p>
    <h3>{{place_of_birth}} {{date_of_birth}}</h3>

    <p><small>Mothers maiden name</small></p>
    <h3>{{maiden_name}}</h3>

  </fieldset>

  <p>   </p>

  <fieldset>
    <legend>PseudoID</legend>

	<p><small>Short ID</small></p>
    <h3>{{short_id}}</h3>

    <p><small>Long ID</small></p>
    <h3>{{long_id}}</h3>


  </fieldset>

  <p>   </p>


  </form>
{% endblock %}

