<!doctype html>
<title>{% block title %}{% endblock %} - ALIIAS</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>ALIIAS</h1>
  <ul>
      {% if session.username %}
        <li><a>
            <img src="/static/dot_green.png" alt="dot green" width="8%" height="8%" >
            {{session.username}}
        </a>
      {% else %}
        <li><a>

        </a>
        <li><a href="{{ url_for('pseudoID.login') }}">Log in</a>
      {% endif %}
      <li><a href="{{ url_for('pseudoID.generate') }}">New Pseudonym</a>
      <li><a href="{{ url_for('pseudoID.reidentify') }}">Re-Identify</a>
      <li><a href="{{ url_for('pseudoID.exit') }}">Exit</a>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
</section>

<footer>
  <ul>
      Author: <a href="https://pni-lab.github.io">PNI-Lab</a>, University Hospital Essen, Germany
      <a href="mailto:sfb289.survey@uni-due.de">(sfb289.survey@uni-due.de)</a>
      <img src="/static/pni_logo.png" alt="PNI logo" width="12%" height="auto" >

  </ul>
</footer>