<!doctype html>
<title>{% block title %}{% endblock %} - PseudoID</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>PseudoID</h1>
  <ul>
      {% if session.username %}
        <li><a> Logged in to LimeSurvey as "{{session.username}}"</a>
      {% else %}
        <li><a> NOT LOGGED IN TO LIMESURVEY!</a>
        <li><a href="{{ url_for('pseudoID.login') }}">Log in</a>
      {% endif %}
      <li><a href="{{ url_for('pseudoID.generate') }}">New PseudoID</a>
      <li><a href="{{ url_for('pseudoID.reidentify') }}">Re-Identify</a>
      <li><a href="{{ url_for('pseudoID.exit') }}">Exit</a>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
</section>

<footer>
  <ul>
      Author: <a href="https://pni-lab.github.io">PNI-Lab</a>, University Hospital Essen, Germany
      <a href="mailto:sfb289.survey@uni-due.de">(sfb289.survey@uni-due.de)</a>
  </ul>
</footer>